
<div class="container">
    <h2>{{title}}</h2>
</div>
<br>
<div class="container" *ngIf="per">
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
        </div>
        <input type="text" class="form-control"  maxlength="20"  [(ngModel)]="per.nombre" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
        </div>
        <input type="text" class="form-control" maxlength="20"  [(ngModel)]="per.apellido" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">direccion</span>
        </div>
        <input type="text" class="form-control"  maxlength="40" [(ngModel)]="per.direccion" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Telefono</span>
        </div>
        <input type="text" class="form-control" maxlength="9"  [(ngModel)]="per.telefono" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Celular</span>
        </div>
        <input type="text" class="form-control" maxlength="9" [(ngModel)]="per.celular" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">fecha Nacimiento</span>
        </div>
        <input *ngIf="idPersona" type="text" class="form-control"  maxlength="10" [(ngModel)]="per.fechaNacimiento" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <input *ngIf="!idPersona" type="date" class="form-control"  maxlength="10" [(ngModel)]="per.fechaNacimiento" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Tiene Coronavirus</span>
        </div>
        <input type="text" class="form-control" maxlength="3" [(ngModel)]="per.hasCoronavirus" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Tiene Sintomas</span>
        </div>
        <input type="text" class="form-control" maxlength="3" [(ngModel)]="per.hasSintomas" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
    <div  *ngIf="idPersona" class="input-group mb-3">
        <button type="button" class="btn btn-success " (click)=Actualizar(per)>{{title}}</button>
    </div>
    <div  *ngIf="!idPersona"class="input-group mb-3">
      <button type="button" class="btn btn-success " (click)=guardar(per)>{{title}}</button>
  </div>
  <a routerLink="/personas">
    <button type="button" class="btn btn-success" (click)=guardar(per)>regresar</button>
  </a>
        
    <div class="input-group input-group-sm mb-3">
    </div>
</div>